#profile-container {
    margin: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#profile-container > div {
    flex-grow: 1;
    margin: 0 20px;
    padding: 16px;
    border-radius: 32px;
}

#profile-main_block {

}

#profile-right_block {

}

#profile-right_block > a {

}

.profile-order-node {

}

.profile-orders {

}

.profile-orders-title {

}

#profile-form-userdata {

}

#edit-login {

}

#edit-password {

}

.profile-chats {

}

.edit-input {
    display: block;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.profile-link:hover {
    color: var(--profile-link-hover_color);
}