@import "colors.css";

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /*background-image: url('food.jpg');*/
}

.topnav {
    overflow: hidden;
    background-color: var(--navbar-white_color);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.topnav a {
    float: left;
    color: var(--navbar-href-white_color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: var(--delivery-background_color);
    color: black;
}

.topnav a.name {
    color: black;
    font-size: 32px;
    margin-left: 8px
}

.address {
    float: right;
    background-image: url('map.png');
    background-position: 0px 5px;
    background-repeat: no-repeat;
    background-color: var(--main-green_color);
    color: white;
    vertical-align: center;
    border: none;
    padding: 14px 40px;
    margin-top: 8px;
    margin-bottom: 4px;
    margin-right: 16px;
}

.navbar-auth_user_block {
    float: right;
    display: flex;
    flex-direction: row;
}

.navbar-username {
    color: black;
}

.navbar-avatar {
    width: 50px;
    height: 50px;
}

.navbar-signin {
    color: black;
}
