@import "colors.css";
body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.topnav {
    overflow: hidden;
    background-color: var(--navbar-white_color);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.title-container:hover {
    background-color: white;
}

.topnav a {
    float: left;
    color: var(--navbar-href-white_color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: var(--delivery-background_color);
    color: black;
}

.topnav a.name {
    color: black;
    font-weight: 700;
    font-size: 32px;
    margin-left: 8px;
    line-height: 2em;
}

.navbar-right_items {
    float: right;
    display: flex;
    align-items: center
}

.address {
    float: right;
    background-image: url('map.png');
    background-position: left;
    background-repeat: no-repeat;
    background-color: var(--main-green_color_darker);
    height: 1.8em;
    border-radius: 8px;
    color: white;
    vertical-align: center;
    border: none;
    padding: 14px 40px;
    margin-right: 24px;
}

::placeholder {
    color: whitesmoke;
}

.navbar-auth_block {
    padding: 0 16px;
    border-left: 1px solid var(--main-green_color);
    border-right: 1px solid var(--main-green_color);
}

.basket-link {
    display: block;
}

.basket-container {
    float: right;
    margin-right: 16px;
    display: flex;
    align-items: center
}

.basket-text {
    display: inline-block;
    color: black;
    font-weight: 500;
    margin-left: 8px;
}

.basket-image {
    display: inline-block;
}

.navbar-auth_user_block {
    display: flex;
    flex-direction: row;
}

.navbar-auth_user_block :hover {
    color: var(--main-green_color);
}

.navbar-username {
    color: black;
}

.navbar-avatar {
    width: 50px;
    height: 50px;
}

.navbar-signin {
    color: var(--profile-link-hover_color_darker);
}

.navbar-signin-text {
    font-weight: 500;
}
