.authorization {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: url("../../static/img/auth_back.png");
    min-height: 100vh;
    height: auto;
}

.authorization-container {
    left: 0;
    top: 0;
    border-radius: 60px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
    padding: 60px;
    background: #F1F1F1;
}

.authorization-container__title {
    text-align: center
}

.authorization-container__anotherAuth {
    margin-bottom: 2em;
}
