@import '../../../static/css/variables.less';

.adding-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--background_color);
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;

    &-container {
        width: 95%;
        position: absolute;
        padding: 8px 16px;
        border-radius: @border-radius-top-mobile;
        background: var(--cuisines-panel__slide_color);
        bottom: 0;

        @media @tablet {
            border-radius: @border-radius-desktop;
            padding: 28px 40px;
            width: 50%;
            max-width: 500px;
            bottom: auto;
        }
    }
    
    &-form__buttons {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 20px;

        @media @tablet {
            flex-direction: row;
        }
    }
    
    &-form__btn {
        text-align: center;
        min-width: inherit;
        margin: 4px 0;
        width: 100%;

        @media @tablet {
            width: 48%;
        }
    }
    
    &__icone-close {
        width: 24px;
        height: 24px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    &-input {
        width: 100%;
    }
}
