@import "ProfileEdits/Avatar.css";

.profile {
    margin: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 12em;
}

.profile > div {
    flex-grow: 1;
}

.profile-card {
    display: flex;
    flex: auto;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 6px solid rgba(0, 0, 0, 0.12);;
    border-radius: 8px;
}

.profile-left-block {
    max-width: 36em;
    min-width: 24em;
    max-height: 56em;
    min-height: 32em;
    padding: 2em;
    margin-left: 16em;
}

.profile-right-block {
    max-width: 20em;
    min-width: 12em;
    max-height: 14em;
    min-height: 6em;
    margin: 0 8em 0 4em;
    padding: 2em;
}

.profile__header {
    margin-left: 16em;
}

.profile-left-block__avatar-button {
    width: 20em;
}