<div class="profile">
    <div id="profile-left-block" class="profile__child">
    </div>

    <div id="profile-right-block" class="profile-right-block profile-card profile__child">
    </div>
</div>
