<h2>Ваш отзыв:</h2>
<div class="order-review">
  <div class="order-review-stars">
    <h3 class="order-review-stars__mark">{{order.stars}}</h3>
    <img
      src="../../../../../static/img/star.png"
      alt="Звезды"
      class="order-review-stars__star"
    />
  </div>
  <h3 class="text-with-small-weight">{{order.review}}</h3>
</div>