.order-review {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.order-review-stars {
  display: flex;
  align-items: center;
}
.order-review-stars__star {
  display: inline-block;
}

.order-review-stars__mark {
  float: left;
  display: inline-block;
  margin-left: 8px;
}
