.restaurant-content__num-buttons {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.restaurant-content__num-buttons > button {
    display: inline-block;
    margin: 8px 8px 8px 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
    background: var(--white_color);
    box-sizing: border-box;
}

.plus {
    border: 1px solid var(--main-green_color);
}

.minus {
    border: 1px solid var(--red_color);
}

.num {
    border: 1px solid var(--grey_color);
    font-size: 12px;
    text-align: center;
}
