<div id="store-reviews">
    <div class="store-reviews">
        <div class="store-reviews-container" id="reviews_container">
            <h2 class="store-reviews-container__title">Отзывы о ресторане</h2>
        </div>
    </div>
</div>