<div class="store-reviews_review">
    <div class="store-reviews_review_top">
        <span class="store-reviews_review_stars">
           <img style="margin-top: -4px" src="../../../static/img/star.png">{{ stars }}
        </span>
        <h3 class="store-reviews_review__name">{{ user }}</h3>
        <h4 class="store-reviews_review__date"> {{ time }} </h4>
    </div>

    <h3 class="store-reviews_review__review"> {{ review }} </h3>
</div>