.restaurant-content__add-button_main {
    background: url("../../../static/shopping_cart.svg");
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 16px;
    width: 30px;
    height: 37px;
    border: 0;
}
