.restaurant-content__add-buttons {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    display: flex;
    align-items: center;
}

.restaurant-content__add-buttons > button {
    display: inline-block;
    margin: 8px 8px 8px 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
    background: #FFFFFF;
    box-sizing: border-box;
}

.plus {
    border: 1px solid var(--main-green_color);
}

.minus {
    border: 1px solid var(--red);
}

.num {
    border: 1px solid var(--grey);
    font-size: 12px;
}

.restaurant-content__add-button_main {
    background: url("../../../static/shopping_cart.svg");
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 16px;
    width: 30px;
    height: 37px;
    border: 0;
}
