<div class="chat-container">
    <div class="message-container"></div>
    <div class="chat-send">
        <input type="text" placeholder="Введите сообщение..." class="chat-send__input" id="js__send-input">
        <button class="button chat-send__btn" id="js__send-button"></button>
    </div>
</div>