@mobile: ~"(min-width: 320px)";
@tablet: ~"(min-width: 640px)";
@desktop: ~"(min-width: 1024px)";
@desktop-big: ~"(min-width: 1624px)";
@desktop-big-area: 1600px;

@shadow: ~"0px 4px 8px 0px rgba(0, 0, 0, 0.3)";
@shadow-mobile: ~"0px 2px 4px 0px rgba(0, 0, 0, 0.3)";