<div class="block_order-dishes">
    <div class="block_order-dish-list-photo block">
        <img src="{{dish.image}}" class="block_order-dish-list-photo__image">
    </div>
    <div class="block_order-dish-list block">
        <div class="block_order-dish-list_left-block">
            <h3 class="block-order-dishes__name profile__text-with-small-weight">{{dish.name}}</h3>
            <h3 class="block-order-dishes__price profile__text-with-small-weight">{{dish.price}} рублей</h3>
        </div>

        <div class="block_order-dish-list_right-block">
            <div class="number-in-circle">
                <h3 class="block-order-dishes__num profile__text-with-small-weight">{{dish.num}}</h3>
            </div>
        </div>
    </div>
</div>