<div id="section_{{section.id}}" style="visibility: hidden;"></div>
<div class="section-top" style="margin-top: 16px;">
    <h3 class="section-container__name">{{section.name}}</h3>
</div>
<div data-section-id="{{section.id}}">
</div>