<div class="navbar_right-items-auth_user" id="js-go-profile">
    <div id="avatar" class="navbar_right-items-auth_user__avatar" style="background-image: url('{{ user.avatar }}')"></div>
    <h3 class="navbar_right-items-auth_user__username link" id="navbar-username">{{user.name}}</h3>
</div>
