<div class="navbar_right-items-auth_user" id="js-go-profile">
    <img src="{{ user.avatar }}" class="navbar_right-items-auth_user__avatar" alt="ava" id="avatar">
    <h3 class="navbar_right-items-auth_user__username link" id="navbar-username">{{user.name}}</h3>
</div>
