<div class="navbar_title">
    <a class="navbar_title__project-name link" href="/restaurant">Delivery Borscht Restaurant</a>
</div>
<div class="navbar_right-items">
    <div id="auth_block" class="navbar_right-items-auth"></div>
</div>