@import "public/static/colors.css";

.navbar {
    overflow: hidden;
    background-color: var(--navbar-white_color);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    height: 6em;
}

.navbar-title__project-name {
    color: black;
    font-weight: 700;
    font-size: 32px;
    margin-left: 8px;
    line-height: 2em;
}

.navbar-title {
    float: left;
    display: flex;
    align-items: center;
    height: 6em;
    margin-left: 2em;
}

.navbar-right-items {
    float: right;
    display: flex;
    align-items: center;
    height: 6em;
}

.navbar-right-items__address {
    float: right;
    background-image: url('../../static/map.png');
    background-position: left;
    background-repeat: no-repeat;
    background-color: var(--main-green_color_darker);
    height: 3em;
    border-radius: 8px;
    color: white;
    vertical-align: center;
    border: none;
    padding: 14px 40px;
    margin-right: 24px;
}

::placeholder {
    color: whitesmoke;
}

.navbar-right-items-auth {
    padding: 0 16px;
    border-left: 1px solid var(--main-green_color);
    border-right: 1px solid var(--main-green_color);
}

.navbar-right-items-basket {
    display: block;
}

.navbar-right-items-basket-container {
    float: right;
    margin-right: 16px;
    display: flex;
    align-items: center
}

.navbar-right-items-basket-container__text {
    display: inline-block;
    color: black;
    font-weight: 500;
    margin-left: 8px;
}

.navbar-right-items-basket-container__image {
    display: inline-block;
}

.navbar-right-items-auth-user {
    display: flex;
    flex-direction: row;
}

.navbar-right-items-auth-user__username {
    color: black;
}

.navbar-right-items-auth-user__avatar {
    width: 50px;
    height: 50px;
}

.navbar-right-items-auth-user__signin {
    color: var(--profile-link-hover_color_darker);
}

.navbar-right-items-auth-user__text {
    font-weight: 500;
}
