<div class="navbar_title">
    <a class="navbar_title__project-name link" href="/">Delivery Borscht</a>
</div>

<button id="address" class="navbar_right-items__address">Адрес доставки</button>
<div id="auth_block" class="navbar_right-items-auth"></div>
<div class="navbar_right-items_basket" id="js-go-basket">
    <img src="../../static/img/cart.png" alt="Корзина" class="navbar_right-items_basket__image">
    <h3 class="navbar_right-items_basket__text link">Корзина</h3>
</div>
