<h3 class="navbar_right-items_auth_user link" id="js-go-login">
    <div class="navbar_right-items_auth_user__signin">
        <h3 class="navbar_right-items_auth_user__text link">Войти</h3>
    </div>
</h3>