<div id="restaurant-basket" class="store-basket">
    <h2 style="text-align: center">Корзина</h2>
    <div id="store-basket__items">
    </div>
    <h3 class="store-basket__info" id="store__basket__delivery">Доставка <span
            class="store-basket__total">{{deliveryCost}} ₽</span></h3>
    <h2 class="store-basket__info">Итого <span class="store-basket__total"><span
            id="store-basket__sum">{{deliveryCost}}</span> ₽</span></h2>
    <button id="store-basket__chose" class="button store-basket__comp">Сравнить</button>
    <button id="store-basket__order" class="button store-basket__total">Оформить</button>
</div>
