<div class="delivery-basket__header">
    <img class="delivery-basket__header__image" src="{{store.restaurantImage}}">
    <h2 class="delivery-basket__header__title">
    {{store.restaurantName}}</h2>
</div>