<div className="delivery-basket__footer">
    <div className="delivery-basket__footer__delivery">
        <span className="left-side">Доставка</span><span className="right-side">{{ store.deliveryCost }}Р</span>
    </div>
    <div className="delivery-basket__footer__total">
        <span className="left-side">Итого</span><span className="right-side">{{ store.totalSum }}Р</span>
    </div>
</div>