@import '../../static/css/variables.less';
@import 'StoreReviews/StoreReviews.css';

.store {
    margin-top: 16px;
    display: grid;
    grid-template-areas: "info"
                         "store";

    @media @tablet {
        grid-template-columns: @grid-two-column-tablet;
        grid-template-areas: "info basket"
                             "store basket";
    }

    @media @desktop {
        grid-template-columns: @grid-two-column-desktop;
    }

    &-info__title {
        grid-area: info;
    }

    &-info__food {
        grid-area: store;
    }

    &-info__basket {
        grid-area: basket;
        display: none;
        padding: 16px;

        @media @tablet {
            display: block;
        }
    }
}

.sticky-basket {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
}
