<div class="store">
    <div id="store-info__title" class="store-info__title"></div>
    <div id="store-info__food" class="store-info__food"></div>
    <div id="store-basket" class="store-info__basket"></div>
</div>
