<div class="confirmation-address">
    <div class="confirmation-address-container">
        <div class="js__confirmation-address-container">
            <span class="confirmation-address-container__title">Вам очень нужно ввести адрес</span>
            <input type="text" id="js__map-add-address"/>
            <div id="js__map" style="width: 300px;height: 300px"></div>
        </div>
        <button id="js__add-new-address__btn" class="button">Продолжить</button>
    </div>
</div>
