<div class="confirmation-address">
    <div class="confirmation-address-container">
        <div class="js__confirmation-address-container">
            <span class="confirmation-address-container__title">Хей</span>
            <p><span class="confirmation-address-container__title">Чтобы мы смогли показать тебе правильные рестораны выбери адрес</span></p>
            <input type="text" id="js__map-add-address"/>
            <div id="js__map" class="confirmation-address-map"></div>
        </div>
        <button id="js__add-new-address__btn" class="button">Продолжить</button>
    </div>
</div>
