.menu-container {
    /* box-shadow: 0 0 4px rgb(0 0 0 / 50%);
    margin-bottom: 60px;
    padding-top: 36px;
    padding-bottom: 36px;
    position: relative; */
}

.menu-container__title {
    padding-inline-start: 40px;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 36px;
}

.menu-container__btn {
    box-shadow: 0 0 4px rgb(0 0 0 / 25%);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.menu-container__btn:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
}

.menu-container__content {
    flex-direction: column;
}
