.menu-container {
    box-shadow: 0 0 4px rgb(0 0 0 / 50%);
    margin-bottom: 60px;
    padding-top: 36px;
    padding-bottom: 36px;
    position: relative;
}

.menu-container__title {
    padding-inline-start: 40px;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 36px;
}
