<div class="menu">
    <div class="menu-container">
        <h2 class="menu-container__title">Меню</h2>
        <div class="menu-container__content horizontal-list"></div>
        <span class="menu-container__btn">
            <h3>+ Добавить раздел</h3>
        </span>
    </div>
</div>
