@import "StoreFoodElement/FoodElement.css";
@import "StoreFoodList/FoodList.css";

.restaurant {
    margin: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.restaurant > div {
    flex-grow: 1;
    margin: 0 20px;
    padding: 16px;
    border-radius: 32px;
}
