<div class="chose__container-title">
    <div class="chose__switch">Корзины</div>
    <div class="chose__switcher">
        <span id="js__chose-list" class="pointer">Список</span>
        /
        <span id="js__chose-table" class="pointer">Таблица</span>
    </div>
</div>
<div class="chose__container"></div>
