<div class="chose__switch"><span id="js__chose-list" class="pointer">Список Корзин</span> / <span id="js__chose-table" class="pointer">Сравнение корзин</span></div>
<div class="chose__container"></div>
