.chose{
  &__switch {
    margin: 25px 0;
    font-size: 24px;
  }

  &__switcher {
    margin: 25px 0;
  }

  &__container {
    &-title {
      position: relative;
    }
  }
}

.chose_selected {
  color: var(--main-green_color);
}

.buttons-container {
  display: flex;
  margin-bottom: 8px;
}

.row {
  flex-direction: row;
  justify-content: space-between;
}

.col {
  flex-direction: column;
}

.red_color {
  background-color: var(--red_color);
}

.store_color {
  background-color: var(--blue_color);
}

.order_color {
  background-color: #1eae98;
}

.basket-empty {
  margin: 64px;
}
