<div class="restaurant">
    <div id="restaurant-left-block" class="restaurant-left-block">
    </div>

    <div id="restaurant-right-block" class="restaurant-right-block restaurant-card">
    </div>
</div>
