<div class="restaurant">
    <div id="restaurant-left-block" class="restaurant-left-block restaurant__child">
    </div>

    <div id="restaurant-right-block" class="restaurant-right-block restaurant-card restaurant__child">
    </div>
</div>
