<div class="chat-node" data-chatID="{{id}}">
    <img class="chat-node__avatar" src="{{avatar}}">
    <div class="chat-node__right">
        <h3 class="chat-node__name">{{name}}</h3>
        <span class="chat-node__last-msg">{{lastMessage}}</span>
    </div>
</div>