<div class="chat-node" data-chatID="{{id}}">
    <img class="chat-node__avatar" src="{{avatar}}">
    <span class="chat-node__name">{{name}}</span>
    <span class="chat-node__last-msg">{{lastMessage}}</span>
</div>