.content__slider {
    display: flex;
    flex-wrap: wrap;
}

.content__slide {
    max-width: 360px;
    min-width: 304px;
    height: 328px;
    display: flex;
    flex: auto;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-right: 24px;
    margin-bottom: 24px;
}
