.drop-list__slider {
    position: absolute;
    z-index: 1000;
    min-width: 240px;

    margin-left: -65px;
    margin-top: 16px;
}

.drop-list__slide {
    overflow: hidden;
    text-align: center;
    padding-bottom: 8px;
    box-shadow: 0 0 4px rgb(0 0 0 / 50%);
    background-color: var(--params-panel__slide-btn_color);
    border-radius: 16px;
    padding: 8px;
    width: 80%;
    margin: auto;
    font-size: 16px;
    margin-bottom: 4px;
    cursor: pointer;
}
