@import "../../../../static/css/variables.less";

.rest-edits__categories {
  &_container {
    display: flex;
    justify-content: space-between;
  }

  padding: 8px 16px;
  margin: 8px 16px;
  box-shadow: @shadow-mobile;
  cursor: pointer;
}

.selected {
  background: var(--main-green_color);
  color: var(--white_color);
}
