@import "OrderDish/Dish.css";
@import "OrderReview/OrderReview.css";
@import "OrderReview/OrderReviewEdit.css";

.block-orders {
  padding: 0;
  max-width: 42em;
  min-width: 32em;
  margin-bottom: 4em;
  margin-left: 8em;
}

.block-restaurant {
  width: 100%;
  border-bottom: 2px solid var(--main-green_color_darker);
}

.block-order-date-and-address {
  padding: 4px 0;
  width: 100%;
  height: 6em;
  border-bottom: 1px solid var(--main-green_color_darker);
}

.block-restaurant__name,
.block-order__date,
.block-order__address {
  margin-left: 2em;
}

.block-order-contents,
.block-order-state {
  width: 100%;
  border-bottom: 2px solid var(--main-green_color_darker);
}

.block-order-contents-sum {
  width: 100%;
  height: 8em;
}

.block-order-state {
  padding: 1em 0;
}

.block-order-state-status,
.block-order-delivery,
.block-order-contents-sum-order,
.block-order-contents-sum-summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.block-order-static-text {
  text-align: left;
  margin-left: 2em;
}

.block-order-align-right {
  text-align: right;
  margin-right: 2em;
}

.store-title__rating {
  cursor: pointer;
}

.store-title__rating:hover {
  background-color: var(--light-grey_color);
  color: black;
}
