<p class="link" id="restaurant-menu__edit">Данные ресторана</p>
<p class="link" id="restaurant-menu__menu">Меню</p>
<p class="link" id="restaurant-menu__orders">Активные заказы</p>
<p class="link" id="restaurant-menu__chats">Чаты</p>
<p id="logout"><a class="link" href="/logout">Выйти</a></p>
