<div class="input-avatar__preview" id="profile-preview">
    <div class="input-avatar__preview-remove">&times;</div>
    <div class="input-avatar__preview__img" style="background-image: url('{{src}}')"></div>
    <div class="input-avatar__preview-info">
        <span>{{name}}</span>
        {{size}}
    </div>
</div>
