.profile-avatar {
    width: 250px;
    height: 250px;
}

.input-avatar__preview {
    position: relative;
    width: 180px; /*it depends from width .preview img*/
    max-height: 200px;
    overflow: hidden;
}

.input-avatar__preview.removing {
    transform: scale(0);
    transition: transform .3s;
}

.input-avatar__preview__img {
    width: 180px; /*it depends from width .preview*/
    max-height: 200px;
    height: auto;
}

.input-avatar__preview:hover .input-avatar__preview-remove {
    opacity: 1;
}

.input-avatar__preview:hover .input-avatar__preview-info {
    bottom: 4px;
}

.input-avatar__preview-remove {
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    background: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity .22s;
}

.input-avatar__preview-info {
    position: absolute;
    right: 0;
    bottom: -30px;
    left: 0;
    height: 24px;
    font-size: .8rem;
    background: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 5px;
    transition: bottom .22s;
}