.card-add__image {
    height: 124px;
    width: 124px;
    margin: 32px auto;
}

.card-add {
    text-align: center;
    cursor: pointer;
}

.card-add__description {
    font-size: 1.75em;
    padding-left: 32px;
    padding-right: 32px;
}
