<p class="link" id="profile-menu__restaurant">Рестораны</p>
<p class="link" id="profile-menu__edit">Данные пользователя</p>
<p class="link" id="profile-menu__orders">Активные заказы</p>
<p class="link" id="profile-menu__chats">Чаты</p>
<p id="logout"><a class="link" href="/logout">Выйти</a></p>
