<div class="delivery-options__container">
    <h3 class="delivery-options__title">Доставка</h3>
    <div id="js__basket-map" class="delivery-options__map"></div>
    <input readonly id="input-address" placeholder="Адрес" data-name="Адрес" value="{{ address }}">
    <p id="input-addressError" class="error">Адрес</p>
    <input id="input-number" placeholder="Телефон" data-name="Телефон" value="{{ user.number }}" >
    <p id="input-numberError" class="error">Телефон</p>
    <input id="input-comments" placeholder="" data-name="Коментарии к заказу">
    <p id="input-commentsError" class="error">Коментарии к заказу</p>
    <button id="button-order" class="button">Заказать</button>
    <p id="serverError" class="error red_error"></p>
</div>
