<hr />
<div class="store-recommendations">
  <h2 class="store-recommendations__title">Возможно, вам также понравится</h2>
  <div class="store-recommendations_restaurants" id="recommendations">

  </div>
</div>