.chose-table {
  &__col1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__img {
    width: 48px;
    height: 48px;
    margin: 0 20px 0 0;
  }

  &__col {
    text-align: center;
  }

  &__good {
    color: var(--main-green_color_superactive);
  }

  &__bad {
    color: var(--red_color);
    //color: var(--error_color);
  }

  &__button {
    font-size: 12px;
  }
}
