@import "../../../static/css/variables.less";

.chose-table {
  &__col0 {
    width: 150px;
    color: black;

    @media @tablet {
      width: 200px;
    }
  }

  &__col1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 48px;
    height: 48px;
    margin: 0 20px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__col {
    text-align: center;
    padding: 12px 0;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    width: 100px;

    @media @mobile {
      width: 150px
    }
    @media @tablet {
      min-width: 200px;
    }
  }

  // &__col, &__col0 {
  //   width: 10px;
  // }

  &__good {
    background-color: #1eae98;
    // color: #1eae98;
  }

  &__bad {
    background-color: var(--red_color);
    // color: var(--red_color);
    //color: var(--error_color);
  }

  &__button {
    // font-size: 12px;
    width: 60%;
  }

  &__container {
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;

    &::-webkit-scrollbar {
      height: 6px;

      &-thumb {
        background-color: var(--main-green_color);
        border-radius: 3px;
        width: 48px;
      }

      &-button {
        border-radius: 16px;
      }
    }
  }

  &__table {
    width: 100%;
    height: 100%;
    // border-spacing: 8px 24px;
  }

  &__name-restaurant {
    font-size: 24px;
    display: none;

    @media @tablet {
      display: block;
    }
  }
}
