.section-container {
    margin-bottom: 40px;
}

.section-top {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0 16px 0 16px;
    margin-bottom: 24px;
    justify-content: center;
    text-align: center;
}

.section-icons {
    margin-top: 16px;
    right: 0;
}

.section-container__content {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
